.top {
    min-width: 100%;
    flex: 2;
    margin-top: 10px;
}

.list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-flow: row;  /* or 'row', 'row dense', 'column dense' */
}

.item {
    max-width: 200px;
    max-height: 230px;
}

img {
    max-width: 190px;
    max-height: 190px;
}

.thumbnail {
    max-width: 200px;
    max-height: 200px;
    padding: 5px;
}

.selected {
    max-width: 200px;
    max-height: 200px;
    padding: 5px;
    background-color: #a33;
}

.mat-white-bg {
    background-color: #fff;
}

.height {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 98vh;
}

.buttons { display: flex; }
.button { margin: 5px; }

.tcenter {
    text-align: center;
}

.dcenter {
    display: flex;
    justify-content: center;
}

.dim {
    color: #666;
}
