<div class="top">
  <div *ngIf="!isWsOpen">
    <h1 class="icenter">
      <span class="dim">WebSocket not open</span>
    </h1>
  </div>
  <div *ngIf="isWsOpen && !isIdeOpen">
    <h1 class="icenter">
      <span class="dim">IDE device not available</span>
    </h1>
  </div>
  <div *ngIf="isWsOpen && isIdeOpen" class="list">
    <div *ngFor="let image of images" class="item">
      <div (click)="enter(image.sha1)" class="center enterable">
        <div class="tcenter">
          {{ name(image.sha1) }}
        </div>
        <div class="icenter">
          <img [src]="imageData(image.sha1) | sanitizeUrl" class="boxart"/>
        </div>
      </div>
      <div class="center selectbutton">
        <button *ngIf="queueMode.length === 0 && !isSelected(image.sha1)" mat-raised-button color="primary" (click)="select(image.sha1)">Select</button>
        <button *ngIf="queueMode.length === 0 && isSelected(image.sha1)" mat-raised-button disabled>Select</button>
        <button *ngIf="queueMode.length !== 0 && !inQueue(image.sha1) && !isSelected(image.sha1)" mat-raised-button color="accent" (click)="enqueue(image.sha1)">{{ queueName(image.sha1) }}</button>
        <button *ngIf="queueMode.length !== 0 && inQueue(image.sha1) && !isSelected(image.sha1)" mat-raised-button color="warn" (click)="enqueue(image.sha1)">{{ queueName(image.sha1) }}</button>
        <button *ngIf="queueMode.length !== 0 && isSelected(image.sha1)" mat-raised-button (click)="enqueue(image.sha1)">{{ queueName(image.sha1) }}</button>
      </div>
    </div>
    <div [class]="queueMode.length !== 0 ? 'gridend between' : 'gridend right'">
      <div class="left" *ngIf="queueMode.length !== 0">
        <button mat-button (click)="queuePrev()" class="iconbutton"><span class="material-icons-outlined">arrow_back</span></button>
        <button mat-button (click)="queueNext()" class="iconbutton"><span class="material-icons-outlined">arrow_forward</span></button>
      </div>
      <div>
        <mat-button-toggle-group class="icontoggle" multiple [(ngModel)]="queueMode" (change)="toggleQueue($event)">
          <mat-button-toggle value="queue" [class]="toggleClass()"><span class="material-icons-outlined">queue</span></mat-button-toggle>
        </mat-button-toggle-group>
        <button mat-button (click)="config()" class="iconbutton"><span class="material-icons-outlined">settings</span></button>
      </div>
    </div>
  </div>
  <div *ngIf="!isWsOpen || !isIdeOpen" class="right">
    <button mat-button (click)="config()" class="config"><span class="material-icons-outlined">settings</span></button>
  </div>
</div>
