.top {
    min-width: 100%;
}

.list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 180px);
    grid-auto-flow: row;  /* or 'row', 'row dense', 'column dense' */
}

.item {
    display: flex;
    flex-direction: column;
    min-width: 180px;
    min-height: 300px;
    max-width: 180px;
    max-height: 300px;
    border: 2px solid #555;
}

.tcenter {
    text-align: center;
}

.icenter {
    display: flex;
    justify-content: center;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.config {
    width: 40px !important;
    min-width: unset !important;
    padding: 0px 6px 0px 6px !important;
}

.enterable {
    cursor: pointer;
    flex: 2;
}

.selectbutton {
    margin-bottom: 7px !important;
}

.gridend {
    grid-column-start: 1;
    grid-column: 1 / -1;
}

.dim {
    color: #999;
}

.center {
    margin: auto;
}

.boxart {
    max-width: 170px;
    max-height: 170px;
}
