.top {
    min-width: 100%;
}

.list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-flow: row;  /* or 'row', 'row dense', 'column dense' */
}

.item {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 300px;
    max-width: 200px;
    max-height: 300px;
    border: 2px solid #555;
}

.vcenter {
    text-align: center;
}

.center {
    display: block;
    margin: auto;
}

.boxart {
    max-width: 100px;
    max-height: 100px;
}
