<div class="top">
  <div *ngIf="!isWsOpen">
    <h1 class="icenter">
      <span class="dim">WebSocket not open</span>
    </h1>
  </div>
  <div *ngIf="isWsOpen && !isIdeOpen">
    <h1 class="icenter">
      <span class="dim">IDE device not available</span>
    </h1>
  </div>
  <div *ngIf="isWsOpen && isIdeOpen" class="list">
    <div *ngFor="let image of images" class="item">
      <div (click)="enter(image.sha1)" class="center enterable">
        <div class="tcenter">
          {{ name(image.sha1) }}
        </div>
        <div class="icenter">
          <img [src]="imageData(image.sha1) | sanitizeUrl" class="boxart"/>
        </div>
      </div>
      <div class="center">
        <button *ngIf="!isSelected(image.sha1)" mat-raised-button color="primary" (click)="select(image.sha1)">Select</button>
        <button *ngIf="isSelected(image.sha1)" mat-raised-button disabled>Select</button>
      </div>
    </div>
    <div class="gridend">
      <div class="right">
        <button mat-button (click)="config()" class="config"><span class="material-icons-outlined">settings</span></button>
      </div>
    </div>
  </div>
  <div *ngIf="!isWsOpen || !isIdeOpen" class="right">
    <button mat-button (click)="config()" class="config"><span class="material-icons-outlined">settings</span></button>
  </div>
</div>
